root = true

[*.{cs,csproj,props,sln}]
charset = utf-8-bom
end_of_line = lf
insert_final_newline = true

[*.cs]
dotnet_style_qualification_for_field = false:suggestion
csharp_style_namespace_declarations = file_scoped:warning
